/node_modules
client/node_modules
client/src/.scannerwork
client/dist
client/build
/build
server/node_modules
server/dist
.idea/
/dist
dist/
dist
*.log
.sonar_lock
.scannerwork
logs/
yarn-error.log
package.json.lock
package-lock.json
.vscpde
mongo-data
webpack-cache
**.env
**.env.*
*.zip
.DS_Store
alldbpasswords.js
logs
tmp
dockernew/*/data
.project
processed.txt
